/* Imports Custom Font (Dolly Roman) */
@font-face {
	font-family: "DollyR"; 
	src: url(Dolly-Roman.otf);
}

/* Imports Custom Font (Dolly SmallCaps) */
@font-face {
	font-family: "DollySC";
	src: url(Dolly-SmallCaps.otf);
}

/* Imports Custom Font (Times New Roman) */
@font-face {
	font-family: "Times";
	src: url(Times-New-Roman.otf);
}

@font-face {
	font-family: "Pinyon";
	src: url(PinyonScript-Regular.otf);
}

/* Sets default formatting for all text elements on page */
html {
	font-family: "DollyR";
	font-size: 20px;
	font-weight: normal;
	color: white;
}

/* Sets background color, text alignment, and padding for entire page */
body {
	padding: 20px 50px 20px 50px;
	background-color: black;
	text-align: left;
}

/* Sets default formatting for all 'Link' elements */
a {
	color: gray;
}

/* Sets default formatting for all 'Header 1' elements */
h1 {
	font-family: "DollyR";
	font-size: 3.5rem;
	font-weight: 100;
	margin: 15px 0px;
}

/* Sets default formatting for all 'Header 2' elements */
h2 {
	font-family: "DollyR";
	/*font-style: italic;*/
	font-size: 1.75rem;
	font-weight: 200;
	margin: 0px 0px;
}

/* Sets default formatting for all 'Paragraph' elements */
p {
	display: inline-block;
	font-family: "DollyR";
	line-height: 150%;
}

.note {
	font-size: 0.75rem;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
}
/*
div {
	display: none;
	opacity: 1;
	transition: opacity 1s, display 1s allow-discrete;
}

.showing {
	opacity: 1;
	display: block;
}

@starting-style {
	.showing {
		opacity: 0;
	}
}
*/
button {
	background: none;
	border: 0;
	padding: 0px 0px 20px 0px;
	font-family: "DollySC";
	font-size: 1rem;
	color: white;
	text-align: left;
}
button:active {
	border-style: outset;
}

button:hover span {
	font-weight: 900;
}
.discrete {
	opacity: .2;
	font-size: .8rem;
}

.citation {
	position: fixed;
	top: 460px;
	font-family: "Times";
	font-size: 0.5rem;
	color: rgb(160, 160, 160);
}

/* Sets default formatting for all 'Footer' elements */
footer {
	position: fixed;
	top: 475px;
	font-family: "Times";
	font-size: 0.5rem;
	color: gray;
}

.text-group {
	color: white;
}
.button-group {
	position: fixed;
	top: 300px;
	width: 100%;
}

/* Fixes line spacing issues with superscript and subscripts */
sup, sub {
	color: rgb(160, 160, 160);
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub { 
	top: 0.4em; 
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.loaded {
	animation-duration: 300ms;
	animation-timing-function: ease-in;
	animation-name: fadeIn;
}