@font-face {
	font-family: "DollyR";
	src: url(Dolly-Regular.tff);
}
@font-face {
	font-family: "DollySC";
	src: url(Dolly-SmallCaps.otf);
}


body {
	padding: 20% 10%;
	text-align: center;
}

h1 {
	font-family: "DollyR";
}