/* Imports Custom Font (Dolly Roman) */
@font-face {
	font-family: "DollyR"; 
	src: url(Dolly-Roman.otf);
}

/* Imports Custom Font (Dolly SmallCaps) */
@font-face {
	font-family: "DollySC";
	src: url(Dolly-SmallCaps.otf);
}

/* Sets background color and text alignment for entire page */
body {
	background-color: black;
	padding: 5% 5%;
	text-align: left;
}

/* Sets default font for all 'Header 1' elements */
h1 {
	font-family: "DollyR";
	font-weight: normal;
	color: white;
}

/* Sets default font for all 'Header 2' elements */
h2 {
	font-family: "DollyR";
	font-weight: 200;
	color: white;

/* Sets default font for all 'Paragraph' elements */
p {
	font-family: "DollySC";
	color: white;
}

/* Sets default font for all 'Footer' elements */
footer {
	font-family: "Times New Roman", Times, serif;
	font-size: x-small;
	color: #969696;
}
